DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=jotup
DB_USERNAME=jotup
DB_PASSWORD=jotup
FORWARD_DB_PORT=5444

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0
REDIS_TIMEOUT=2
REDIS_READ_TIMEOUT=15
REDIS_QUEUE_AVATAR=avatar:sync
FORWARD_REDIS_PORT=6380

APP_PORT=8080
APP_DEBUG=true

CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173,http://jotly.ru,https://jotly.ru"
